#image{
    padding: 50;
    margin: 50;
    
}



html,
body,
main {
  height: 92%;
}

::-moz-selection {
  background: #34495e;
  color: #fff;
}

::selection {
  background: #34495e;
  color: #fff;
}

.jumbotron {
  padding-top: 150px;
  padding-bottom: 150px;
  margin-bottom: 0;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.photo-cover {
  background: #34495e url("cover_image1.jpg") no-repeat center center/cover fixed;
  height: 100%;
  position: relative;
}

.background-primary {
  background: #34495e;
}

.background-secondary {
  background: #2c3e50;
}

.large {
  font-size: 4em;
}

.medium {
  font-size: 2em;
}

/* Header */
.transparent {
  background: transparent;
}

.navbar-inverse {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.thumbnail {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: flex;
}

.thumbnail-svg {
  -webkit-box-flex: 1;
          flex: 1 0 auto;
  padding: .5em;
  max-height: 6em;
}

.thumbnail-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1abc9c;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.thumbnail:hover .thumbnail-overlay {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.full-screen {
  background: #eee;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  overflow-y: scroll;
}

.close-window {
  cursor: pointer;
}

#d {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-image: url("background.jpg");
  */overflow: hidden;
}
.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 275px 210px 80px;
  grid-template-areas: "image" "text" "stats";

  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  font-family: roboto;
  text-align: center;
  

  transition: 0.5s ease;
  cursor: pointer;
  margin:30px;
}
.card-image {
  grid-area: image;
  
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
#image0{
 background-image: url("https://www.edamam.com/web-img/7fe/7fee72cbf470edc0089493eb663a7a09.jpg"); 
 
}

#image1{
 background-image: url("https://www.edamam.com/web-img/8c3/8c32f359fc50fd6b86cff8d6511bfb46.jpg"); 
}

#image2{
 background-image: url("https://www.edamam.com/web-img/f4d/f4dad71fec563dfba890813f81b33e10.jpg"); 
}


.card-text {
  grid-area: text;
  margin: 25px;
}
.card-text .date {
  color: rgb(255, 7, 110);
  font-size:13px;
}
.card-text p {
  color: grey;
  font-size:15px;
  font-weight: 300;
}
.card-text h2 {
  margin-top:0px;
  font-size:32px;
}



.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

/*card2*/
.card-image.card2 {
  /*background-image: url("img2.jpg");*/
  background-size: cover;
}
.card-text.card2 .date {
  color: rgb(255, 77, 7);
}

/*card3*/
.card-image.card3 {
  /*background-image: url("img3.jpg");*/
  background-size: cover;
}
.card-text.card3 .date {
  color: rgb(0, 189, 63);
}
